{% extends 'kopa/layout.html' %}
{% load static %}
{% block content %}

<main>
      <style>
    
        .custom-alert.error {
    background-color: #e74c3c;
}

.custom-alert.success {
    background-color: #2ecc71;
}
  </style>

        <!-- slider Area Start-->
        <div class="slider-area slider-height" data-background="assets/img/hero/h1_hero.jpg">
            <div class="slider-active">
                <!-- Single Slider -->
                <div class="single-slider">
                    <div class="slider-cap-wrapper">
                        <div class="hero__caption">
                            <p data-animation="fadeInLeft" data-delay=".2s">Achieve your financial goal</p>
                             <!-- Display messages -->
        {% if messages %}
            <div>
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
                            <h1 data-animation="fadeInLeft" data-delay=".5s">Small Business Loans For Daily Expenses.</h1>
                            <!-- Hero Btn -->
                            <a href="{% url 'client' %}" class="btn hero-btn" data-animation="fadeInLeft" data-delay=".8s">Apply for Loan</a>
                        </div>
                        <div class="hero__img">
                            <img src="assets/img/hero/hero_img.jpg" alt="">
                        </div>
                    </div>
                </div>
                <!-- Single Slider -->
                <div class="single-slider">
                    <div class="slider-cap-wrapper">
                        <div class="hero__caption">
                            <p data-animation="fadeInLeft" data-delay=".2s">Achieve your financial goal</p>
                            <h1 data-animation="fadeInLeft" data-delay=".5s">Small Business Loans For Daily Expenses.</h1>
                            <!-- Hero Btn -->
                            <a href="{% url 'client' %}" class="btn hero-btn" data-animation="fadeInLeft" data-delay=".8s">Apply for Loan</a>
                        </div>
                        <div class="hero__img">
                            <img src="assets/img/hero/hero_img2.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <!-- slider-footer Start -->
            <div class="slider-footer section-bg d-none d-sm-block">
                <div class="footer-wrapper">
                    <!-- single -->
                    <div class="single-caption">
                        <div class="single-img">
                            <img src="{% static 'assets/img/hero/hero_footer.jpg' %}" alt="">
                        </div>
                    </div>
                    <!-- single -->
                    <div class="single-caption">
                        <div class="caption-icon">
                            <span class="flaticon-clock"></span>
                        </div>
                        <div class="caption">
                            <p>Fast and Convenient</p>
                            <p></p>
                        </div>
                    </div>
                    <!-- single -->
                    <div class="single-caption">
                        <div class="caption-icon">
                            <span class="flaticon-like"></span>
                        </div>
                        <div class="caption">
                            <p>Simple Application Process</p>
                            <p></p>
                        </div>
                    </div>
                    <!-- single -->
                    <div class="single-caption">
                        <div class="caption-icon">
                            <span class="flaticon-money"></span>
                        </div>
                        <div class="caption">
                            <p>Flexible Repayment Options</p>
                            <p></p>
                        </div>
                    </div>
                  
                </div>
            </div>
            <!-- slider-footer End -->

        </div>
        <!-- slider Area End-->
        <!-- About Law Start-->
        <div class="about-low-area section-padding2">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="about-caption mb-50">
                            <!-- Section Tittle -->
                            <div class="section-tittle mb-35">
                                <span>About Our Company</span>
                                <h2>Building a Brighter financial Future & Good Support.</h2>
                            </div>
                            <p>Kizuri Solutions, formed in 2022, is more than just a lending platform; it's a financial partner dedicated to your success. We understand that navigating the world of loans can be daunting, which is why we're here to simplify the process for you. At Kizuri Solutions, we pride ourselves on offering transparent and straightforward lending solutions designed to meet your individual needs.</p>
                            <p>Our mission is to provide access to fast, reliable, and affordable loans, empowering you to achieve your financial goals with confidence. With a commitment to integrity and customer satisfaction, we prioritize transparency and fairness in every interaction. Trust Kizuri Solutions to be your trusted partner on your journey towards financial stability and success.</p>
                            <a type="button" class="btn hero-btn " data-animation="fadeInLeft" data-delay=".8s" href="{% url 'client' %}">Apply for Loan</a></h3>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- About Law End-->
       <!-- Services Area Start -->
        <div class="services-area pt-150 pb-150" style="background-image: url('{% static 'assets/img/gallery/section_bg02.jpg' %}')">
        
           <!--<div class="services-area section-padding30">-->
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-10">
                        <!-- Section Tittle -->
                        <div class="section-tittle text-center mb-80">
                            <span>Loan services that we are providing</span>
                            <h2>We Offer Loans In The Following Categories.</h2>
                        </div>
                    </div>
                </div>
                <div class="row"> <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-cat single-cat2 text-center mb-50">
                            <div class="cat-icon">
                                <span class="flaticon-loan"></span>
                            </div>
                            <div class="cat-cap">
                                <h5><a href="services.html">Emergency Loans</a></h5>
                                <p>Quick loans designed to cover urgent expenses, such as medical bills or car repairs. They typically have fast approval processes and may be available to borrowers with less-than-perfect credit.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-cat single-cat2 text-center mb-50">
                            <div class="cat-icon">
                                <span class="flaticon-loan"></span>
                            </div>
                            <div class="cat-cap">
                                <h5><a href="services.html">Personal Loans: </a></h5>
                                <p>general-purpose loans that can be used for various personal expenses, such as medical bills, home improvements, debt consolidation, or unexpected expenses.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-cat single-cat2 text-center mb-50">
                            <div class="cat-icon">
                                <span class="flaticon-loan"></span>
                            </div>
                            <div class="cat-cap">
                                <h5><a href="services.html">Business Loans</a></h5>
                                <p>Designed for entrepreneurs and small businesses, these loans can be used for starting a new business, expanding operations, purchasing equipment, or managing cash flow.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-cat single-cat2 text-center mb-50">
                            <div class="cat-icon">
                                <span class="flaticon-loan"></span>
                            </div>
                            <div class="cat-cap">
                                <h5><a href="services.html">Student Loans</a></h5>
                                <p>Intended to cover education-related expenses, such as tuition fees, books, and living expenses. They may offer flexible repayment options and competitive interest rates.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-cat single-cat2 text-center mb-50">
                            <div class="cat-icon">
                                <span class="flaticon-loan"></span>
                            </div>
                            <div class="cat-cap">
                                <h5><a href="services.html">Auto Loans</a></h5>
                                <p>This type of loan is specifically designed for purchasing vehicles, whether new or used. These loans often come with fixed terms and interest rates based on the vehicle's value.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-cat single-cat2 text-center mb-50">
                            <div class="cat-icon">
                                <span class="flaticon-loan"></span>
                            </div>
                            <div class="cat-cap">
                                <h5><a href="services.html">Payday Loans</a></h5>
                                <p>This type of loan is a short-term loans intended to cover unexpected expenses until the borrower's next payday. These loans typically come with high-interest rates and fees.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-cat single-cat2 text-center mb-50">
                            <div class="cat-icon">
                                <span class="flaticon-loan"></span>
                            </div>
                            <div class="cat-cap">
                                <h5>Equipment Financing<a href="services.html"></a></h5>
                                <p>This type of loan helps businesses acquire the equipment and machinery they need to operate efficiently. It may involve leasing or purchasing equipment outright with the loan funds</p>
                            </div>
                        </div>
                    </div>
                   
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-cat single-cat2 text-center mb-50">
                            <div class="cat-icon">
                                <span class="flaticon-loan"></span>
                            </div>
                            <div class="cat-cap">
                                <h5><a href="services.html">Working Capital Loans</a></h5>
                                <p>Designed to cover day-to-day operational expenses, such as payroll, inventory purchases, or rent. These loans help businesses maintain liquidity and manage cash flow fluctuations.</p>
                            </div>
                        </div>
                    </div>
                    
                 </div>
            </div>
        </div>
        <!-- Services Area End -->
        <!-- Support Company Start-->
        <div class="support-company-area section-padding3 fix">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-6 col-lg-6">
                        <div class="support-location-img mb-50">                            
                            <img src="{% static 'assets/img/gallery/single5.jpg' %}" alt="">
                            <div class="support-img-cap">
                                <span>Since 2021</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="right-caption">
                            <!-- Section Tittle -->
                            <div class="section-tittle">
                                <span>Why Choose Our Company</span>
                                <h2>We Promise Sustainable  Future For You.</h2>
                            </div>
                            <div class="support-caption">
                                <p>At Kizuri Solutions, we pride ourselves on being a trusted and reliable partner in your financial journey. Our commitment to providing tailored loan solutions, coupled with competitive interest rates and a quick, hassle-free application process, sets us apart in the industry. We understand the unique needs of our clients and offer flexible repayment options to suit your circumstances. With a strong emphasis on transparency and customer satisfaction, Kizuri Solutions ensures that you receive the support you need with no hidden costs. Choose Kizuri Solutions for a secure, personalized lending experience you can trust.</p>
                                <div class="select-suport-items">
                                    <label class="single-items"> Apply for a loan anytime, anywhere, and receive it right in your MPESA account within 15 minutes of your application’s approval.
                                        <input type="checkbox" checked="checked active">
                                        <span class="checkmark"></span>
                                    </label>
                                    <!--<label class="single-items">We require only one identity document to process your mobile loan.
                                        <input type="checkbox" checked="checked active">
                                        <span class="checkmark"></span>
                                    </label>-->
                                    <label class="single-items">We offer the most competitive interest rates in the market to ensure that you can easily repay your loan.
                                        <input type="checkbox" checked="checked active">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="single-items">We offer flexible repayment options to suit your financial situation.
                                        <input type="checkbox" checked="checked active">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="single-items">Your data is safe with us. We do not share your details with any third parties without your permission.
                                        <input type="checkbox" checked="checked active">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="single-items">Unlike other loan apps, we promise a high approval rate and reliable customer service.
                                        <input type="checkbox" checked="checked active">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="single-items">Got questions? The dedicated customer service team at Kizuri Solutions is always ready to assist you, any time of the day or night.
                                        <input type="checkbox" checked="checked active">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Support Company End-->
        
    </main>

{%  endblock%}